// Application Colors
$primary-color: #F73048;
$secondary-color: #3EA8A6;
$dark-color: hsl(0, 0%, 17%);
$darker-color: #262626;
$gray-color: #5F5F5F;
$light-color: #CACACA;

$black-colors: (
  'dark': #262626
);

$gray-colors: (
  'light': #F3F3F3
);

$primary-colors: (
  'light': #FF0036
);

$rem-base: 16px;